.containerAll {

    display: flex;  
    justify-content: center;
    margin-top: 5em;

}

.timeStyle {

    font-size: 50px;
    color: white;
    text-align: center;
    font-weight: 900;
}

.title {

    text-align: left;
    color: white;
    font-weight: 900;
    position: absolute;
    top:  -0em;
    left: 13%;

}

.task {

    color: white;
    text-shadow: 2px 2px 2px black;
    margin-top: 1.5em;
}

.containerItems {

    border: 1px solid white;
    border-radius: 10px;
    width: 400px;
    padding: 5px;
    background-color: black;
    opacity: 0.8;
    margin-bottom: 1em;

}

.check {

    position: absolute;
    width: 20px;
    left: 0%;
    opacity: 1;
}


.check2 {

    position: absolute;
    width: 20px;
    left: 0%;
    opacity: 0.1;
}

.delete {

    position: absolute;
    width: 20px;
    left: 6.5%;
    cursor: pointer;
    opacity: 1;
}

.delete:hover {

    transform: scale(1.2);

}



.containerButton {

    display: flex;
    justify-content: center;

}

.containerNew {

    
    justify-content: center;
    position: relative;
    display: none;
    opacity: 0;
    transition: 1s;
}


.titleTask {

    font-size: 30px;
    font-weight: 900;
    color: white;

}

.input2 {

    margin-top: 1em;

}

input {

    width: 400px;
    border: 1px solid black;
    border-radius: 5px;

}

input:hover, input:active, input:focus {

    box-shadow: 1px 1px 2px 2px black;

}

.containerTaskItems {

    border: 1px solid white;
    padding: 10px;
    border-radius: 10px;
    background-color: gray;
    opacity: 0.8;
    position: absolute;
    top: 10em;
   

}

.buttonAdd {

    margin-top: 1em;

}

.buttonConfirm {

    color: white;
    margin-left: 1em;
    font-size: 10px;
    position: relative;
    right: 10px;
    transition: 0.5s;

}

.buttonConfirm:hover {

    font-weight: 900;

}